@import "~bootstrap/scss/bootstrap";

.filter-container {
  border-radius: 20px;
  width: 200px;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  .filter-text {
    font-size: 2em;
  }

  .checkbox-filter {
    display: flex;
    gap: 10px;
  }
}
